#-------------------------------------------------------------------------------
#
# Git Ignore Config, https://git-scm.com/docs/gitignore.
#
#-------------------------------------------------------------------------------

# Keep this file even if directory has been ignored
!.keep

# NPM dependencies
/node_modules/

# Composer dependencies
/vendor/

# Error logs
yarn-error.log

# IDE files
/.idea/
/*.iml

# Cache
/*.cache

/.temp/
